<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chess Room</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{javascript/landing.js}" defer type="module"></script>
</head>


<body>
    <div th:replace="~{general :: navbar}"></div>

    <div id="board_wrapper" class="board_wrapper">
        <div id="board" class="board">
        </div>
    </div>
</body>


<script>
</script>

</html>