<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chess Room</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{javascript/landing.js}" defer type="module"></script>
</head>


<body>
<div class='nav_container'>
    <a method='POST' href="{%url 'home'%}" class='nav_top_button nav_button'>Play!</a>

    <a method='GET' href="{%url 'profile' request.user.profile.pk%}" class='nav_button'>Profile
        <p class='hidden' id='notification_count'>{{count}}</p>
    </a>

    <a id='search_button' href="{%url 'profile_search'%}" class='nav_button'>Search</a>

    <form method='POST' action="{%url 'logout'%}" class='nav_button'>
        <button type="submit">Logout</button>
    </form>
    <a href="{%url 'login'%}" class='nav_button'>Login</a>

</div>



<div id="board_wrapper" class="board_wrapper">
    <div id="board" class="board">
    </div>
</div>



</body>


<script>
</script>

</html>